.hero-banner {
    
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    position: relative;

    .banner-link {
        position: absolute;
        top: 40%;
        right: 20%;
        background: $color-rich-black-transparent;
        width: fit-content;
        padding: 3%;
        text-align: center;
        border-radius: 0.25rem;

        @media(max-width: 768px) {
            right: 10%;
            
        }
    }
}