.featured-container {
    background: $color-deep-blue;
    width: 95%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    @media(max-width: 768px) {
        width:100%;
        padding: 2rem;
    }

    .featured-product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        width: 100%;
        justify-content: space-evenly;

        .featured-product {
            padding: 1rem;
            background: white;
            width: 22%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap:15px;

            @media(max-width: 1400px) {
                width: 28%;
            }
            @media(max-width: 1250px) {
                width: 33%;
            }
            @media(max-width: 1024px) {
                width: 38%;
            }
            @media(max-width: 768px) {
                padding: 0.5rem;
                width: 45%;
            }
            @media(max-width: 600px) {
                width: 90%;
            }
            @media(max-width: 400px) {
                width: 100%;
            }

            .product-header-link {
                width: 100%;
                text-align: center;
                display:flex;
                flex-direction: column;
                gap: 5px;
                text-decoration: none;
            }

            .price-and-cart {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
            }
        }
    }
}