.products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .product-list-item {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 30%;

        .product-header {
            height: 200px;

            .product-image {
                height: 70%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}