.products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1rem;

    .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .product-list-item {
        display: flex;
        flex-direction: column;
        width: 32%;

        @media (max-width: 768px) {
            width: 45%;
        }
        @media (max-width: 550px) {
            width: 66%;
        }

        .product-header {
            height: 300px;

            .product-image {
                height: 90%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}