@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&family=Trirong:ital,wght@0,700;1,500&display=swap");
.banner-link {
  font-family: "Trirong", serif;
  color: #3E1929;
  font-size: 56px;
  font-style: italic;
  text-decoration: none;
}

.pseudo-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

.nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #3E1929;
}

.active {
  color: #3E1929;
}

.list-heading {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.featured-heading {
  color: white;
}

.product-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #3E1929;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pseudo-button {
  background: #3E1929;
  color: white;
  width: fit-content;
  align-self: center;
  padding: 3px 30px;
  border-radius: 0.2rem;
  border: 2px solid #3E1929;
  transition: 0.1s;
}

.pseudo-button:hover {
  color: #3E1929;
  background: none;
}

.green-bg {
  background: #096B72;
  color: white;
  border-color: #096B72;
}

.green-bg:hover {
  background: #096B72;
  color: white;
}

.white-text {
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.common-navbar {
  padding: 1.5rem;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 425px) {
  .common-navbar {
    padding: 0.5rem;
  }
}
.common-navbar .navbar-brand {
  width: 200px;
}
@media (max-width: 425px) {
  .common-navbar .navbar-brand {
    width: 150px;
  }
}
.common-navbar .navbar-brand .brand-logo {
  width: 100%;
}
.common-navbar .navbar-toggler .navbar-toggler-icon {
  color: #000022;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.hero-banner {
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  position: relative;
  border-radius: 0.5%;
  margin-bottom: 150px;
}
@media (max-width: 768px) {
  .hero-banner {
    margin-bottom: 75px;
  }
}
.hero-banner .banner-link {
  position: absolute;
  top: 15%;
  left: 10%;
  padding: 3%;
  text-align: center;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .hero-banner .banner-link {
    right: 0;
    left: 0;
    text-align: center;
  }
}
.hero-banner .banner-link:hover {
  color: #3E1929;
}

.cart-button {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  padding: 5px 10px;
  display: flex;
  gap: 5px;
}
.cart-button .cart-icon {
  background-size: cover;
  width: 40px;
  height: 39px;
}

.invalid-input {
  border-color: red;
}

footer {
  background: #0C1114;
  color: white;
  padding: 1.5rem;
  margin-top: 150px;
}

.products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
  justify-content: center;
}
.products-container .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  width: 100%;
}
.products-container .product-list-item {
  display: flex;
  flex-direction: column;
  width: 20%;
}
@media (max-width: 768px) {
  .products-container .product-list-item {
    width: 45%;
  }
}
@media (max-width: 550px) {
  .products-container .product-list-item {
    width: 66%;
  }
}

.product-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.featured-container {
  background: #000022;
  width: 95%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 768px) {
  .featured-container {
    width: 100%;
    padding: 2rem;
  }
}
.featured-container .featured-product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  justify-content: space-evenly;
}
.featured-container .featured-product-list .featured-product {
  padding: 1rem;
  background: white;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 1400px) {
  .featured-container .featured-product-list .featured-product {
    width: 25%;
  }
}
@media (max-width: 1250px) {
  .featured-container .featured-product-list .featured-product {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .featured-container .featured-product-list .featured-product {
    padding: 0.5rem;
    width: 40%;
  }
}
@media (max-width: 600px) {
  .featured-container .featured-product-list .featured-product {
    width: 100%;
  }
}
.featured-container .featured-product-list .featured-product .product-header-link {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
}
#new-product-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  display: none;
}

/*# sourceMappingURL=style.css.map */
